{% comment %} <div class="image-text">
  {% assign items = product.metafields.custom.image_with_text.value %}

  {% for item in items %}
  <div class="meta-objects">
    <h1>{{item.title}}</h1>
    <p>{{item.text}}</p>
    <a href="{{item.button_url}}">{{item.button}}</a>
    <img src="{{item.image | img_url:''}}">
  </div>
  {% endfor %}
  
</div> {% endcomment %}


{% for block in section.blocks %}
  <div class="meta-objects">
    <h1>{{block.settings.title}}</h1>
    <p>{{block.settings.text}}</p>
    <a href="{{block.settings.button_url}}">{{block.settings.button}}</a>
    <img src="{{block.settings.image | img_url:''}}">
  </div>
{% endfor %}


{% schema %}
  {
    "name": "Image text",
    "settings": [],
    "blocks": [
      {
        "type": "image_with_text",
        "name": "image_with_text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "text"
          },
          {
            "type": "text",
            "id": "button",
            "label": "button"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "button url"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
          
        ]
      }
    ],
    "presets": [
      {
        "name": "Image text"
      }
    ]
  }
{% endschema %}